# Bancos de dados físicos do Fusion Compiler
pnr/work/
CLIBs/

# Arquivos temporários do Synopsys
*.svf
Synopsys_stack_trace_*
crte_*
fc_command.log
fc_output.txt
lm_command.log
command.log
check_workspace.ems

# Arquivos auxiliares de diagnóstico
defaultViaRule.txt
viaRule_M3_M8.txt
missing_vias_M3_M8*.rpt

# Arquivos de edição
*~
*.swp
*.swo

# Simulacao Synopsys VCS / Verdi
*.fsdb
*.mr
*.pvl
*.syn
simv*
*.daidir/
csrc/
alib-*/
cksum_dir/
content/
ucli.key
verdiLog/
novas.conf
novas.rc
novas_dump.log

# Logs de simulacao gerados automaticamente
sim/gls_test_*.log

# Arquivos auxiliares e backups
*.sv.save
vetores_golden.zip
